@model BTL_TTCM.Models.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div id="layoutSidenav_content">
<main>
    @using (Html.BeginForm("Create","Product",FormMethod.Post, new { enctype="multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="border p-3">
        <h4>Add Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <div class="form-group row">
            @Html.LabelFor(model => model.CatId, "CatId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-10">
                @Html.DropDownList("CatId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <div class="form-group row">
            @Html.LabelFor(model => model.Descriptions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-10">
                @Html.EditorFor(model => model.Descriptions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

      

        <div class="form-group row">
            @Html.LabelFor(model => model.oriprice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-10">
                @Html.EditorFor(model => model.oriprice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.oriprice, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

          <div class="form-group row">
            @Html.LabelFor(model => model.Supplier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-10">
                @Html.EditorFor(model => model.Supplier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Supplier, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <div class="form-group row">
            @Html.LabelFor(model => model.Producer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-10">
                @Html.EditorFor(model => model.Producer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Producer, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <div class="form-group row">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

       <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col-5">
                            <input type="submit" class="btn btn-info w-100" value="Create"/>
                        </div>
                        <div class="col-5">
                             <a href="/admin/product/Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
        </div>


    </div>
}
</main>
</div>



