@model IEnumerable<BTL_TTCM.Models.Product>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Product</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">List of products in the system</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Product table
                            </div>
                            <div class="card-body">
                                
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Supplier</th>
                                            <th>Producer</th>
                                            <th>OriginPrice</th>
                                            <th>Image</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model)
                                       {
                                            <tr>
                                                <td>@i.ProductName</td>
                                                <td>@i.Descriptions</td>
                                                <td>@i.Supplier</td>
                                                <td>@i.Producer</td>
                                                <td>@i.oriprice</td>
                                                <td class="image">
                                                    <image src="https://res.cloudinary.com/dzzivs123/image/upload/v1651677533/images/product/@i.Image"></image>
                                                </td>
                                                <td>
                                                    <a href="@Url.ActionLink("Edit","Product",new {id=@i.ProductId})">
                                                        <input type="button" class="btn btn-info w-10 bg-warning" value="Edit"/>
                                                    </a> 
                                                    <a href="@Url.ActionLink("Delete","Product",new {id=@i.ProductId})">
                                                        <input type="button" class="btn btn-info w-10 bg-danger" value="Delete"/>
                                                    </a> 
                                                </td>
                                            </tr>
                                       }
                                        
                                     
                                    </tbody>
                                </table>
                                <a href="/admin/Product/Create">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
